html{
	/*custom mouse from https://custom-cursor.com/en/collection/minimal-style/minimal-axolotl*/
	cursor: url(https://cdn.custom-cursor.com/db/10520/32/minimal-axolotl-cursor.png), default!important;
	
}

body{
	padding: 0;
	margin: 0;
	background: #f6cdac;
/*	border: 2px solid black;*/
}

.window-buttons{
	width: 10%;
	padding-top: 3%;
	padding-left: 3%;
	z-index: 1;
}

.header-bar{
	width: 100%;
	background: #d26e5b;
}

h1{
	font-family: ohno-blazeface,sans-serif;
	font-weight: 100;
	font-style: italic;
	padding-top: 0%;
	padding-bottom: 0%;
	padding-left: 72vw;
	padding-right: 3vw;
	font-size: 4vw;
	margin: 0;
	color: white;
}

button{
	padding-top: 2%;
	padding-bottom:  2%;
	margin: 0;
	color: deeppink;
	background: white;
	width: 12vw;
	height: 3%;
}

/*.colour-brush-bar{
	display: grid;
	grid-template-columns: repeat(14, 1fr);
	grid-template-rows: 1;
	grid-column-gap: 15%;
	border-width: 0.05pt;
	border-color: #482117;
}*/

input{
	width: 20%;
}























